---
title: 'Nasıl yapılır: Yük Testi Sonuçlarında Özel Grafikler Oluşturma'
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load test results graphs, creating
- load test results graphs
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
author: gewarren
ms.author: gewarren
manager: douge
ms.prod: visual-studio-dev15
ms.technology: vs-ide-test
ms.openlocfilehash: c65b9ad5c6a9d554f2c71cc5d17c63ce9368df2c
ms.sourcegitcommit: 708f77071c73c95d212645b00fa943d45d35361b
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 12/07/2018
ms.locfileid: "53055406"
---
# <a name="how-to-create-custom-graphs-in-load-test-results"></a>Nasıl yapılır: test sonuçlarını yükleme özel grafikler oluşturma

Yük testi sonuçları hakkında belirli bilgi görüntüleyen grafikleri tasarlayabilirsiniz. Özel bir grafik, graf görüntüleyen yük testi sayacı belirterek tasarlayın.

Aşağıdaki yordamda, bir yük testi çalışırken veya çalışması bittikten sonra gerçekleştirebilirsiniz.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

## <a name="to-create-a-custom-load-test-results-graph"></a>Özel yük testi sonuçları grafiği oluşturmak için

1.  Üzerinde **yük testi** araç seçin **yeni grafik Ekle**.

     \- veya -

     Üzerinde **Yük Testi Çözümleyicisi**, sağ **sayaçları** Masası veya bir grafiğe tıklayın ve ardından **Grafik Ekle**.

     **Grafik adı girin** iletişim kutusu görüntülenir.

2.  Altında **grafik adı**grafik için bir ad girin ve seçin **Tamam**.

     Yeni grafik görünür **Yük Testi Çözümleyicisi**. Şu anda seçili graf panelinde görünür; Bu panelde görüntülenen graf değiştirir.

3.  Yeni grafik sayaçları ekleyerek özelleştirin. Daha fazla bilgi için [nasıl yapılır: grafiklerde sayaç ekleme ve silme](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md).

## <a name="see-also"></a>Ayrıca bkz.

- [Grafik görünümünde yük testi sonuçlarını çözümleme](../test/analyze-load-test-results-in-the-graphs-view.md)
- [Nasıl yapılır: grafiklerde sayaç ekleme ve silme](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)